@import 'tailwindcss';
@plugin "daisyui";

@plugin "daisyui/theme" {
	name: 'brightblur-light';
	default: true;
	prefersdark: false;
	color-scheme: 'light';
	--color-base-100: oklch(100% 0 0);
	--color-base-200: oklch(97.18% 0.037 186.65);
	--color-base-300: oklch(94.19% 0.059 186.52);
	--color-base-content: oklch(26.47% 0.061 185.09);
	--color-primary: oklch(50.92% 0.117 185.41);
	--color-primary-content: oklch(97.18% 0.037 186.65);
	--color-secondary: oklch(65% 0.22 260);
	--color-secondary-content: oklch(94% 0.03 250);
	--color-accent: oklch(75% 0.18 280);
	--color-accent-content: oklch(38% 0.08 285);
	--color-neutral: oklch(14% 0.005 285.823);
	--color-neutral-content: oklch(92% 0.004 286.32);
	--color-info: oklch(74% 0.16 232.661);
	--color-info-content: oklch(29% 0.066 243.157);
	--color-success: oklch(68% 0.22 155);
	--color-success-content: oklch(30% 0.1 160);
	--color-warning: oklch(82% 0.189 84.429);
	--color-warning-content: oklch(41% 0.112 45.904);
	--color-error: oklch(55% 0.25 15);
	--color-error-content: oklch(100% 0.05 15);
	--radius-selector: 0.25rem;
	--radius-field: 0.5rem;
	--radius-box: 0.5rem;
	--size-selector: 0.3125rem;
	--size-field: 0.3125rem;
	--border: 1px;
	--depth: 0;
	--noise: 0;
}

@plugin "daisyui/theme" {
	name: 'brightblur-dark';
	default: false;
	prefersdark: true;
	color-scheme: 'dark';
	--color-base-100: oklch(10% 0.02 250);
	--color-base-200: oklch(15% 0.025 250);
	--color-base-300: oklch(22% 0.03 250);
	--color-base-content: oklch(90% 0.02 250);
	--color-primary: oklch(55% 0.12 185);
	--color-primary-content: oklch(94% 0.03 186);
	--color-secondary: oklch(60% 0.18 260);
	--color-secondary-content: oklch(92% 0.04 250);
	--color-accent: oklch(68% 0.17 280);
	--color-accent-content: oklch(93% 0.05 285);
	--color-neutral: oklch(18% 0.02 250);
	--color-neutral-content: oklch(85% 0.02 250);
	--color-info: oklch(68% 0.14 232);
	--color-info-content: oklch(93% 0.05 243);
	--color-success: oklch(60% 0.2 155);
	--color-success-content: oklch(88% 0.06 160);
	--color-warning: oklch(70% 0.18 80);
	--color-warning-content: oklch(90% 0.05 50);
	--color-error: oklch(60% 0.22 15);
	--color-error-content: oklch(93% 0.05 10);
	--radius-selector: 0.25rem;
	--radius-field: 0.5rem;
	--radius-box: 0.5rem;
	--size-selector: 0.3125rem;
	--size-field: 0.3125rem;
	--border: 1px;
	--depth: 1;
	--noise: 0;
}

html {
	scrollbar-gutter: stable;
	overflow-x: hidden;
}
